<div class="card questions">
    <div class="card-content">
<div class="bg-{{genreId}}">
    <div class="container-fluid d-flex align-items-center justify-content-center" id="height">
        <div>
            <h2 data-qID="{{id}}">{{question}}</h2>
            <ul id="items" class="text-center list-unstyled question-ul">
            {{#if isGenreMemes}}
                {{#each answers}}
                    {{>display-memes}}
                {{/each}}
            {{else}}
                {{#each answers}}
                    {{>answer-details}}
                {{/each}}
            {{/if}}
            </ul>
            <div class="text-center">
            {{#if (genre11 genreId)}}
                <button class="btn btn-primary" type="button">Submit</button>
            {{else}}
                <div id="timer"></div>
            {{/if}}
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/js/question.js"></script>