<div class="container score-page">
    <div class="row">
        <div class="card">
            <div class="card-content">
                {{#if team1}}
                {{!-- {{#with user1}}
        {{json this}}
        {{/with}}
        {{#with user2}}
        {{json this}}
        {{/with}} --}}
        {{!-- {{teamScore user1}} --}}
        {{!-- {{teamScore user2}} --}}
        {{!-- {{equal user1 user2}} --}}
            {{#if (equal user1 user2)}}
            <h1> Teams Tied </h1>
            <h2> Team 1 Score: {{teamScore user1}}</h2>
            <h2> Team 2 score: {{teamScore user2}}</h2>
            {{else if (compare user1 user2)}}
                    <h1> Team 1 Wins</h1>
                    <h2> Team 1 Score: {{teamScore user1}}</h2>
                    <h2> Team 2 Score: {{teamScore user2}}</h2>
                    {{else}}
                    <h1> Team 2 Wins</h1>
                    <h2> Team 1 Score: {{teamScore user1}}</h2>
                    <h2> Team 2 Score: {{teamScore user2}}</h2>
                    {{/if}}
                {{else}}
                <p class="score"> You Scored : <span>{{score}}</span> </p>
                {{/if}}
                <div class="replay-button">
                    <a href="/"><button type="button" class="btn btn-primary btn-lg btn-block">Play Again</button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="question-label-text"> Your question was </div>
                <div class="question-text">{{questionTitle}}</div>
                <div class="question-label-text">Answers </div>
                {{#if isGenreMemes}}
                    {{#each answers as |answer|}}
                        <div class="result-container">
                            <div class="answer-text meme-container">
                                {{> display-memes}}
                            </div>
                            <div class="total">
                                {{total}}
                            </div>                            
                        </div>
                    {{/each}}
                {{else}}
                    {{#each answers as |answer|}}
                        <div class="result-container">
                            {{> display-answer}}
                        </div>
                    {{/each}}
                {{/if}}
            </div>               
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h1>High Scores</h1>
                {{#each highScores as |score|}}
                    {{> display-high-score}}
                {{/each}}
            </div>    
        </div>
    </div>
</div>