<div class="container score-page">
    <div class="row">
        <div class="card">
            <div class="card-content">
                {{#if team1}}
                    {{#if (compare team1.score team2.score)}}
                    <h1> Team 1 Wins</h1>
                    <h2> Team 1 Score: {{team1.score}}</h2>
                    <h2> Team 2 score: {{team2.score}}</h2>
                    {{else}}
                    <h1> Team 2 Wins</h1>
                    <h2> Team 1 Score: {{team1.score}}</h2>
                    <h2> Team 2 Score: {{team2.score}}</h2>
                    {{/if}}
                {{else}}
                <p class="score"> Your Score : <span>{{score}}</span> </p>
                {{/if}}
                <div class="replay-button">
                    <a href="/"><button type="button" class="btn btn-primary btn-lg btn-block">Play Again</button></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h1>Question: {{questionTitle}}</h1>
                <h1>Answers : </h1>
                {{#if isGenreMemes}}
                    {{#each answers as |answer|}}
                        {{> display-memes}}
                        <p>Total: {{total}}</p>
                        <br/><br/>
                    {{/each}}
                {{else}}
                    {{#each answers as |answer|}}
                        {{> display-answer}}
                    {{/each}}
                {{/if}}
            </div>               
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-content">
                <h1>High Scores</h1>
                {{#each highScores as |score|}}
                    {{> display-high-score}}
                {{/each}}
            </div>    
        </div>
    </div>
</div>




<div class="chart-block">
    <div id="chartContainer"></div>
    <canvas id="chartCanvas" height="500" width="500"></canvas>
</div>
{{!-- </script> --}}
{{!-- <script type="text/javascript" src="/js/display-charts.js"></script> --}}
<script>
  // This script runs on the client side in the browser
  document.addEventListener('DOMContentLoaded', function() {
    // Access an element by ID and manipulate it
    //const myElement = document.getElementById('chart-container');
    //myElement.innerHTML = 'Changed by client-side JavaScript!';
    //if(customData) {
        //console.log('Checking if custom dayta is present : ', customData);
    //}


// Data for the chart
const chartData = [
  { label: 'Label 1', value: 10 },
  { label: 'Label 2', value: 20 },
  { label: 'Label 3', value: 15 },
  // Add more data objects as needed
];

// Handlebars template
const chartTemplate = Handlebars.compile(`
{{#each chartData}}
    <div class="bar">
      <div class="label">{{label}}</div>
      <div class="bar-value" style="width: {{value}}%"></div>
    </div>
  {{/each}}
`);

// Render the chart
const chartContainer = document.getElementById('chartContainer');
console.log("chartContainer ", chartContainer);
chartContainer.innerHTML = chartTemplate({ chartData });
console.log("chartContainer.innerHTML ", chartContainer.innerHTML);
 //const ctxEL = document.getElementById('chartCanvas');
 //console.log("ctxEL ", ctxEL);

 const ctx = document.getElementById('chartCanvas')?.getContext('2d');
 console.log("ctx ", ctx);

// Initialize the chart
new Chart(ctx, {
  type: 'bar',
  data: {
    labels: chartData.map(data => data.label),
    datasets: [{
      data: chartData.map(data => data.value),
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 1
    }]
  },
  options: {
    indexAxis: 'y',
  }
});


  });
</script>
